/* debug  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

/* header  */
#app {
  height: 100vh;
  overflow: hidden;
  padding: 80px 100px 80px 100px;
  background: linear-gradient(to bottom,
      #009688 0px,
      #009688 200px,
      #dddbd1 200px,
      #d2dbdc 100%);
}

.active {
  background-color: rgb(225, 222, 222);
}

/* container  */
.contact-container {
  background-color: white;
  height: 100%;
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* sidebar left  */
.sidebar {
  width: 350px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

/* sidebar  */
.info {
  padding: 10px;
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid rgba(148, 146, 146, 0.354);
}

#user {
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
}

.info img {
  border-radius: 100%;
  width: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.contact-img {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icons {
  display: flex;
  gap: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.icon{
  cursor: pointer;
}

/* banner notifiche  */

.notifiche {
  min-height: 65px;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}

.fa-bell-slash {
  color: #8EDAFC;
}

.notifiche-desktop {
  color: rgb(75, 74, 74);
  font-size: 13px;
}

.bell {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

/* search bar  */

.search {
  position: relative;
  margin: 10px 30px 10px 10px;
  cursor: pointer;
}

.search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.search input {
  width: 100%;
  padding: 10px 10px 10px 30px;
}

/* chat-left */
.list {
  border-top: 1px solid black;
  flex-grow: 1;
  overflow-y: scroll;
}

.list li {
  border-bottom: 1px solid #D7DBD6;
  padding: 10px;
}

.chat-left {
  display: flex;
  align-items: center;
}

.profil-pic {
  width: 60px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}

.info-contact {
  flex: 1;
  /* Fai espandere questo div a tutto lo spazio rimanente */
  cursor: pointer;
}

.contact-name {
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.status {
  font-size: 13px;
  color: #a09f9fc9;
}

.date {
  font-size: 15px;
  color: rgb(116, 115, 115);
  padding-bottom: 20px;
}

/* main content  */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-right {
  display: flex;
  flex-direction: column;
}

/* chat  */

.chat {
  flex-grow: 1;
  background-image: url('../img/mine.jpg');
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: auto;
}

.message {
  border-radius: 16px;
  padding: 10px 20px;
  max-width: 80%;
}

.message.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.message.received {
  background-color: white;
  align-self: flex-start;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  background-color: #eaeaea;
  gap: 12px;
}

.toolbar-chat {
  font-size: 24px;
  color: #585858;
  gap: 0;
  padding-left: 0;
  padding-right: 0;
}

.toolbar-chat .icon {
  padding: 0 32px;
}

.chat-input {
  border: none;
  flex-grow: 1;
  border-radius: 10px;
  height: 35px;
  padding: 0 14px;
}

/* hover  */

.fa-spinner:hover, .fa-message:hover, .fa-ellipsis-vertical:hover, #user:hover, .fa-magnifying-glass:hover, .fa-paperclip:hover, .contact-name:hover{
  color: rgb(16, 0, 247);
  font-size: 18px;
}

.fa-face-smile:hover, .fa-microphone:hover{
  color: rgb(16, 0, 247); 
}

.bg-hover-chats:hover{
  background-color: rgba(220, 213, 213, 0.72);
}
